.list-category{
  font-size: 2.5em;
  font-weight: bold;
  color: tomato;
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 50px;
  background-color: bisque;
}

.list-item{
  font-size: 2em;
  list-style: none;
  color: teal;
  margin: 5px 0;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  /* text-align: center; */
}

.list-card{
  border: 2px solid rgb(192, 41, 223);
  margin: 10px;
  padding: 30px;
  border-radius: 10px;
  background-color: lavender;
  box-shadow: 10px 10px 5px grey;
  display: inline-block;
  max-width: 450px;
}

.list-item li:hover{
  color: burlywood;
  cursor: pointer;
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}

.list-card:hover{
  box-shadow: 5px 5px 5px grey;
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
  background-color: rosybrown;
}